<!DOCTYPE html>
<html>
    <head>
        <title>Todos</title>
        <meta charset="utf-8">
    </head>
    <body lang="en">
        <h1>Todos</h1>

        {% if is_logged_in %}
        <!-- TODO: log out -->
        {% else %}
        <a href="/login">Log in</a>
        {% endif %}

        {% if is_logged_in %}
        <p><a href="/logout">Log out</a></p>
        <b>My todos:</b>
        <ul>
            {% for item in todos %}
            <li>
                {{ item.content }}
                <form action="/delete/{{ item.id }}" method="POST" style="display:inline">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <input type="submit" value="Delete">
                </form>
            </li>
            {% endfor %}
            <li>
                <form action="/add-todo" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <input name="content" placeholder="New todo">
                    <input type="submit" value="Add">
                </form>
            </li>
        </ul>
        {% endif %}
    </body>
</html>