<!DOCTYPE html>
<html>
    <head>
        <title>Todo - Sign up</title>
        <meta charset="utf-8">
    </head>
    <body lang="en">
        <h1>Sign up</h1>
        <p><a href="/">Back to front page</a></p>
        <p><a href="/login">Log in</a></p>
        <form action="/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"><br>
            <label for="password1">Password:</label>
            <input type="password" name="password1" id="password1"><br>
            <label for="password2">Password again:</label>
            <input type="password" name="password2" id="password2"><br>
            <input type="submit" value="Sign up">
        </form>
    </body>
</html>